<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/books" routerLinkActive="active">Books</a>
        <a mat-list-item [routerLink]="['/temperatures','London']" routerLinkActive="active">Temperatures</a>
        <a mat-list-item [routerLink]="['/classify','BBC']" routerLinkActive="active">Classify</a>
     </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
         *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Sample</span>
        <span class="spacer"></span>
        <a  mat-button routerLink="/signup" *ngIf = "!(authService.getUser() | async)">Sign Up</a>
        <a  mat-button routerLink="/login" *ngIf = "!(authService.getUser() | async)">Login</a>
        <a  mat-button (click) = "authService.logout()" *ngIf = "(authService.getUser() | async)">Logout</a>
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>