<label id="example-radio-group-label">Pick your favorite season</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteNew">
  <mat-radio-button class="example-radio-button" *ngFor="let new of news" [value]="new">
    {{new}}
  </mat-radio-button>
</mat-radio-group>
<div>Your favorite season is: {{favoriteNew}}</div>
